


.destinations {
   padding: 60px 0;
   @include laptop {
       padding:30px 0;
   }
   @include mobile-l {
       padding:20px 0;
   }
   @include mobile {
       
   }
   @include mobile-s {
    padding: 15px 0;
   }
}


.destinations-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include laptop {
        padding: 0 30px;
    }
    @include tablet {
        padding: 0 15px;
    }
   @include mobile-l {
        gap: 16px;
        padding: 0 15px;
   }
}


.destinations__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}


.destinations__header-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width:320px) {
        gap: 8px;
    }
}

.destinations__title {
    font-size: 36px;
    font-weight: 500;
    color: #181818;
    @include tablet-land {
        font-size: 39px;
    }
    @media (max-width:320px) {
        font-size: 34px;
    }
}

.destinations__subtitle {
    color:#909090;
    @include tablet-land {
        font-size: 21px;
    }
    @include mobile-l {
        font-size: 16px;
    }
    @include mobile-s {
        font-size: 16px;
    }
}

.destinations__nav {
    display: flex;
    gap: 16px;
    @include tablet {
        display: none;
    }
    @media (max-width: 480px) {
        display: none; 
    }
}

// -----------------------------------------------BUTTONS

.destinations__btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #181818;
}


.destinations__btn--next {
    background-color: #35AFF4;
    border-color: #35AFF4;
    color: #fff;
}

.destinations__btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(53, 175, 244, 0.2);
}


.destinations__btn.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #fff;
    color: #909090;
    border-color: #E5E5E5;
}
.destinations__btn--prev {}



// ------------------------------------------------------------------------SWIPER



.destinations__slider.swiper{
    width: 100%;

    // ЗАБОРОНА ВИДІЛЕННЯ ТЕКСТУ ПРИ ПЕРЕТЯГУВАННІ
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;

    @include tablet {
        padding: 0 20px;

    }
    @include tablet-land {
        padding: 0 0;
    }
}

.destinations__slider.swiper:active{
    cursor: grabbing;
}

.destinations__slider-wrapper.swiper-wrapper {}

.destinations__slider-wrapper{
    display: flex;
    
}
.destinations__slide.swiper-slide {
    width: 304px;
    user-select: none;
    @include laptop {
        width: 295px;
    }
    @include tablet {
        width: auto !important;
    }
}

// =------------------------------------------------------------- CARD

.destination-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 304px;
    @include tablet {
        max-width:304px;
        min-width:260px;
        width: auto;
    }
    @include mobile-l {
        gap: 16px;
    }
    @media(max-width:375px){
        // width: auto;
    }
}

.destination-card__image {}

.destination-card__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.destination-card__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.destination-card__name {
    color:#181818;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0%;

    @include laptop {
        font-size: 18px;
    }
    @media (max-width:476px) {
        font-size: 16px;
        }   
}

.destination-card__price {
    color:#909090;
    line-height: 1.5;
    @media (max-width:476px) {
        font-size: 14px;
    }
        span{
            color:#35AFF4;
        }

        strong{
            color:#181818;
            font-weight: 500;
            @media (max-width:476px) {
                font-size: 14px;
            }
        }
}

.destination-card__rating {
    display: flex;
    gap: 4px;
    align-items: center;
  
}

